__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/
env/
.idea/
.vscode/
.DS_Store
*.pth
*.pt
*.safetensors
state.pt
checkpoints/
outputs/
data/
data_out/
data_out10/
Task_2/
multirun/
.hydra/
.ipynb_checkpoints/
